
@keyframes map-fade-in {
    0% {
      opacity: 0;
      transform: translate3d(0, -20px, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}

.fadein-obj{
    opacity: 0;
}
.map-in {
    -webkit-animation: map-fade-in 0.5s ease 0.5s 1 forwards;
 	animation: map-fade-in 0.5s ease 0.5s 1 forwards;
}

.area-in {
    -webkit-animation: map-fade-in 0.5s ease 0.8s 1 forwards;
 	animation: map-fade-in 0.5s ease 0.8s 1 forwards;
}

